.statusBox {
  border-width: 1px 1px 4px 1px;
  border-color: #00000011;
}

.currStatus {
  border-width: 1px 1px 4px 1px;
  border-color: #00000011 #00000011 #3182ce #00000011;
}

.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 7px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
}

.container {
  display: flex;
}

.container img {
  align-self: center;
  padding-bottom: 30px;
  margin: 20px;
}

.container div {
  margin-top: 20px;
  margin-right: 20px;
}
