.test{
  display: flex;
  flex-direction: column;
}

.admin-text{
  font-size: 18px;
  margin-left: 0;
  size: "sm";
}

.driver-name{
  font-weight: bold;
  /* margin-left: 40px; */
  align-self: left;
  text-align: left;
}

.driver-info{
  /* background-color: rgb(77, 77, 130); */
  flex-direction: column;
  text-align: left;
  margin-right: 20;
}

.role{
  font-size: 12px;
  color: gray;
}

.users{
  /* spacing: 0;  */
  align-items: center;
  margin-right: 40;
  margin-top: 5;
  margin-bottom: 0;
  margin-left: 10;
  background-color: rgb(245, 245, 245);
}

.side-panel{
  /* background-color: rgb(245, 245, 245); */
  flex-direction: column;
}

.staff-title{
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  margin-left: 3;
}

.panel-title{
  flex-direction: row;
  margin-top: 2;
  margin-bottom: 2;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
}

.create-account-button {
  margin: 1em 0 0 0;
  width: 20px

}

.table-column-names {
  background-color: rgb(240, 231, 231);
}

.row {
  align-content: space-between;
}

.row-text {
  font-family: "Inter";
  font-size: 16px;
  border: 1px;

}

.table-header {
  font-family: "Inter";
  font-size: 12px;
  /* {.column-name {
      color: black;
      align-items: center;
    }
  } */
}

.leftContainer {
  display: flex;
}

.rightContainer {
  display: flex;
  align-content: flex-end;
}
