.user-details-stack {
  width: 24em;
}

.user-details-form-label {
  margin: 1.5em 0 0 0;
}

.error-box {
  max-width: 24em;
}

.button-stack {
  margin-top: 2em;
  max-width: 24em;
  justify-content: space-between;
}

.cancel-button {
  width: 11em;
}

.save-button {
  width: 11em;
}

.edit-button {
  margin-top: 2em;
  width: 24em;
}
