.create-account-form {
    max-width: 20em;
  }

  .create-account-form-label {
    margin: 0.5em 0 0 0;
  }

  .create-account-button {
    margin: 1em 0 0 0;
  }

  .error-box {
    max-width: 20em;
  }

  input, label {
    display:block;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

.label-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}
