.login-form {
  margin: 5em;
  width: 20em;
}

.login-stack {
  max-width: 20em;
}

.login-form-label {
  margin: 0.5em 0 0 0;
}

.login-button {
  margin: 1em 0 0 0;
  display: block;
}

.forgot-password-link {
  margin-top: 1em;
  display: block;
}
