.create-account-form {
  max-width: 20em;
}

.create-account-form-label {
  margin: 0.5em 0 0 0;
}

.create-account-button {
  margin: 1em 0 0 0;
}

.error-box {
  max-width: 20em;
}

ul {
  list-style-position: inside;
}
