.title {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.form-padding {
  padding: 2vw;
}

.field-section {
  margin-bottom: 4vh;
}
